@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post">
    <div class="form-group">
        <label for="productLink">Product's Link</label>
        <input type="text" class="form-control" id="productLink" placeholder="Enter Product's Link" name="productLink">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
