.dropdown-menu {
    width: 230px !important;
}
#btn-cate{
    width: 230px !important;
}
.cate-level1{
    text-decoration: none !important
}
.cate-level1 h5{
    color: black !important;
}
#slider-img{
    height: 170px !important;
}
.carousel-inner div img{
    height: 170px !important;
}
.comments{
    background-color: #f8f9fa !important;
}
.ls-img img{
    height: 100% !important;
    width: 100% !important;
}